* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}

main{
    display: flex;
}
#map{
    height: 100vh;
    width: 75%;
}
.store-list{
    width: 25%;
    height: 100vh;
    overflow: auto;
}

.head{
    background-color: green;
    color: rgb(255, 255, 255);
}

.head h2{
    padding: 1rem;
}

.list{
    padding: 0 1rem;
    list-style-type: none;
}

.shop_info{
    margin: 1rem 0;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 1rem;
}

.list li:last-child .shop_info{
    border: none;
}

.shop_info a{
    text-decoration: none;
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.shop_info p{
    font-size: 14px;
    color: black;
}

.leaflet-popup-content-wrapper{
    padding: 0;
    overflow: hidden;
}

.leaflet-popup-content{
    margin: 0;
}

.leaflet-popup-content-wrapper h4{
    padding: 16px;
    background-color: green;
    color: white;
    font-size: 16px;
}

.leaflet-popup-content-wrapper p{
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}

.leaflet-popup-content-wrapper .phone {
    padding: 16px;
    padding-top: 0px;
}